body {
    background-color: #2c2f33;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fd8f70;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #841d00;
        }

#Logo {
    width: 55px;
    margin-left: 50px;
}

#Brand {
    font-size: 25px;
}

h1 {
    text-align: center;
    color: white
}

h2 {
    color: white
}

h3 {
    color: white
}

div {
    border-radius: 25px;
    background: #99aab5;
    opacity: 0.9;
    margin: auto;
    width: 25%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text] {
    padding: 5px;
    font-size: 16px;
    border-width: 3px;
    border-color: #CCCCCC;
    color: #000000;
    border-style: groove;
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

select {
    padding: 5px;
    font-size: 16px;
    border-width: 3px;
    border-color: #CCCCCC;
    color: #000000;
    border-style: groove;
    border-radius: 50px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);
    text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.myButton {
    box-shadow: 0px 1px 0px 0px #1c1b18;
    background: #fd8f70;
    background-color: #fd8f70;
    border-radius: 15px;
    border: 2px solid #333029;
    display: inline-block;
    cursor: pointer;
    color: #841d00;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-left: 50px;
}

    .myButton:hover {
        background: #841d00;
        background-color: #841d00
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }
