
@{
    ViewBag.Title = "Edita tu contraseña";
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/editarContra ")
</head>
<body>
    <div class="container">
        <h1 class="titulo">Actualiza tu contraseña</h1>
        <hr> <br>
        <p class="t">Contraseña actual</p>
        <input type="text" class="text"> <br> <br>
        <p class="t">Nueva contraseña</p>
        <input type="text" class="text"> <br> <br>
        <button type="button" class="boton-g" onclick="location.href='editar.html'">
            </i>Guardar cambios
        </button>
    </div>
</body>
</html>
