
@{
    ViewBag.Title = "Login";
}

<head>
    @Styles.Render("~/Content/registrar")
</head>

<br>

<div style="margin: 0; padding: 0; text-align: center;">
    <h1>INICIAR SESION</h1>
    <h2>Correo Electrónico</h2>
    <input type="text">
    <h2>Contraseña</h2>
    <input type="text">
    <br>
    <p>¿No tienes una cuenta?</p>
    @Html.ActionLink("Registrate", "index", "Home")
    <input type="button" class="myButton" value="Iniciar">
</div>
<br>

